.msg-line {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.current-time {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

body {
    background-color: rgb(47, 107, 126);
}

.information-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

label {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
}

.input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

button {
    padding: 5px;
    width: 25%;
    margin: 5px;
}
